.flex-outer > li > label,
.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}
 
.flex-outer > li > label  {
  min-width: 180px;
}

.flex-outer > li > input, textarea  {
  min-width: 50%;
}
